<% if logged_in? %>
  <h1>Logged in as <%= session[:username] %></h1>
  <h2>User ID = [ <%= current_user.id %> ]</h2>
<% end %>

<%= button_to "session.clear", logout_path %>

<h3>We will put omniauth authentication data here (if present):</h3>

<% if name = session[:name] %>
  <p>Welcome <em><%= name -%></em>! We know who you are thanks to Omniauth!</p>
  <p>You were authenticated by  <%= session[:omniauth_data]['provider'] %>.</p>

  <p>Your username is [ <%= session[:nickname] %> ], and your email is [ <%= session[:email] %> ].</p>

  The raw data returned from Omniauth were:
  <pre>
    <%= session[:omniauth_data] %>
  </pre>

  <% if session[:image] %>
    <h4>Enjoy your picture~</h4>
    <p><img src="<%= session[:image] %>" alt="Profile_Pic"></p>
  <% end %>

<% elsif logged_in? %>

  <p>No omniauth; just normal login.</p>
  <p>Your username is [ <%= session[:username] %> ], and your email is [ <%= session[:email] %> ].</p>

<% else %>

  <p>No authentication information is available.</p>
  <p>Plz <%= link_to "Log In", login_path %> or <%= link_to "Sign Up", signup_path %></p>
  <p>Try <%= link_to 'Signing in with the developer strategy', '/auth/developer'%>.</p>
  <p>Try <%= link_to 'Signing in with the GitHub strategy', '/auth/github'%>.</p>
  <p>Try <%= link_to 'Signing in with the Google strategy', '/auth/google_oauth2' %>.</p>

<% end %>

<% if logged_in? %>
  <%= button_to "Log Out", logout_path %>
<% end %>